{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "jsxBracketSameLine": true,
  "proseWrap": "always",
  "useEditorConfig": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "embeddedLanguageFormatting": "auto",
  "printWidth": 80,
  "quoteProps": "as-needed"
}
